.post {
  max-width: 500px;
  border: 1px solid lightgray;
  margin: 0 auto;
  margin-top: 45px;
  background-color: white;
}

.post__img {
  width: 100%;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.post__avatar {
  margin-right: 10px;
}

.post__footer {
  padding: 20px;
}
